# gradle

.gradle/
build/
out/
classes/
bin/

# eclipse

*.launch
.settings/
.classpath
.project

# idea

.idea/
*.iml
*.ipr
*.iws

# vscode / cursor

.vscode/
.cursor/

# os

.DS_Store
Thumbs.db
Desktop.ini
ehthumbs.db

# fabric / loom

run/
runs/
remappedSrc/

# java

hs_err_*.log
replay_*.log
*.hprof
*.jfr
